.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover {
  color: #fff;
}

.active {
  color: #e250e5;
}

.logo h2 {
  background: linear-gradient(-45deg, #e250e5, #4850e6, #e250e5, #4850e6);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #14141f;
}

.logo h2 span {
  color: #e250e5;
}

/* .nav-right .btn {
  padding: 7px 25px;
  border: 1px solid #5142fc;
  border-radius: 50px;
  color: #5142fc;
} */

.nav-right button.btn {
  padding: 7px 25px;
  border: 1px solid #5142fc;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  border-radius: 50px;
}

.nav-right button.btn:hover {
  color: #fff;
  border: 1px solid #fff;
}
