.footer h5 {
  font-size: 1.1rem;
  color: #fff;
}

.footer {
  padding-bottom: 30px;
  background-color: #000;
}

.list-item {
  background: transparent;
  padding-left: 0;
  border: none;
}

.list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
}

.list-item a:hover {
  color: #fff;
  opacity: 0.8;
}

.newsletter {
  width: 100%;
  border-radius: 50px;
  color: #fff;
  padding: 7px 25px;
  margin: 20px 0;
  border: none;
  outline: none;
  font-size: 0.8rem;
  background-color: #343444;
}

::placeholder {
  color: #fff;
  opacity: 0.85;
}

.social-links a {
  color: #fff;
  opacity: 0.85;
  font-size: 1.5rem;
  font-weight: 400;
  transform: 0.3s;
  margin-right: 15px;
}

.social-links a:hover {
  color: #e250e5;
}

.copyright {
  font-size: 0.8rem;
}
